# important personal data
.cache/
plan_test_file_by_deepseek/
DS_API_KEY
plan_data.csv
planmaker.py
qso_data.csv
qsomaker.py
sample.html
log.txt
plan/csv/

# Python
__pycache__/
*.pyc
*.pyo

# system file
.DS_Store
Thumbs.db

# IDE config
.vscode/
.idea/